.signup {
	width: 40%;
}

.header-button {
	border-radius: 8px;
	font-size: 24px;
	line-height: 1.75;
	height: 70px;
	text-align: center;
	letter-spacing: 0.56px;
	background-color: hsl(248, 32%, 49%);
	box-shadow: 0 10px 0 rgba(0, 0, 0, 0.15);
}

.header-button-text {
	color: #fff;
	line-height: 1;
	font-size: 20px;
	padding: 4%;
}

.form {
	color: #000000;
	background-color: #fff;
	margin-top: 20px;
	padding: 5% 5%;
	border-radius: 10px;
	box-shadow: 0 10px 0 rgba(0, 0, 0, 0.15);
}

.field-item {
	padding: 5px;
}

.field-input {
	padding: 4px;
	height: 50px;
	width: 100%;
	font-size: 22px;
	font-weight: 600;
	letter-spacing: 0.4px;
	border-radius: 4px;
  cursor: pointer;
  margin-top: 25px;
	border: 1.6px solid hsl(246, 25%, 77%);
}

input.field-input {
	text-indent: 25px;
}

.field-input:not(:first-child) {
	margin-top: 25px;
}

/* .field-input:(:last-child) {
	margin-bottom: 25px;
} */

.input {
	display: block;
}

.error {
  color: hsl(0, 100%, 74%);
  float: right;
  margin-top: 7px;
}

.footer {
  text-align: center;
  margin-top: 40px;
}

.trial-button {
	height: 70px;
	color: #fff;
	border-radius: 10px;
	width: 100%;
	font-size: 24px;
	line-height: 1.75;
	letter-spacing: 0.56px;
	font-family: 'Poppins';
	font-weight: 700;
	background-color: hsl(154, 59%, 51%);
	box-shadow: 0 5px 0 rgba(0, 0, 0, 0.15);
}

.agree {
	color: hsl(246, 25%, 77%);
}

.legal {
	color: hsl(0, 100%, 74%);
	font-weight: 600;
}
