.header {
	color: #fff;
	width: 40%;
}

.title {
	font-size: 65px;
	font-weight: 700;
	line-height: 1.3;
	text-align: left;
	width: 78%;
}

.sub-title {
	line-height: 1.65;
	letter-spacing: 0.16px;
	text-align: left;
	font-size: 20px;
	width: 82%;
}
